{% extends "login/base_login.html" %}

{% block form %}

<form method="post" class="form">
    <h1 class="form_title">Вход</h1>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="message">
            <div class="flash {{cat}}">{{msg}}</div>
        </div>
    {% endfor %}

    <div class="form_group">
        <input type="text" name="login" placeholder=" " class="form_input">
        <label class="form_label">Логин</label>
    </div>

    <div class="form_group">
        <input type="password" name="password" placeholder=" " class="form_input">
        <label class="form_label">Пароль</label>
    </div>

<button type="submit" class="form_button">Войти</button>
</form>

{% endblock %}