{% extends "employee/base_employee.html" %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="main_inner">
            <div class="left">
                <div class="description">
                    Здесь вы можете добавить новую  <br>книгу и списать старую книгу</br>
                </div>
            </div>
            <div class="right">
                <img src="/static/images/employee.svg">
            </div>
        </div>
    </div>
</div>

<footer>
    <p>Copyright, 2023</p>
</footer>

{% endblock %}